<h1<strong>About Heroine:</strong>
</h1>
<li><strong>Name:</strong><%= @heroine.name %></li>
<li><strong>Super Name:</strong><%= @heroine.super_name %></li>
<li><strong>Power:</strong><%= @heroine.power.name %></li>
